.Chats {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  margin: 0 auto;
  overflow-y: scroll;
}
.Chat {
  margin: 1rem 0;
  color: #fff;
  padding: 1rem;
  background: linear-gradient(90deg, #1986d8, #7b9cc2);
  max-width: 90%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.Chat.is-user-msg {
  position: relative;
  margin-left: auto;
  background: #2b2c33;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
.Chat.is-user-msg:hover .Chat__close {
  display: inline-block;
}
.Chat__close {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.7rem;
  border: 1px solid #fff;
  border-radius: 50%;
  display: none;
  text-align: center;
  line-height: 1.3rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .Chat {
    max-width: 60%;
  }
}
